/* =========================
   Responsive CSS
========================= */

@media(max-width:992px){

nav ul{
    flex-direction:column;
}

.hero h1{
    font-size:42px;
}

.services-grid,
.gallery-grid{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.hero{
    height:70vh;
}

.hero h1{
    font-size:32px;
}

.hero p{
    font-size:18px;
}

.services-grid,
.gallery-grid{
    grid-template-columns:1fr;
}

.contact-box{
    flex-direction:column;
}

}

@media(max-width:480px){

.logo{
    font-size:22px;
}

.hero h1{
    font-size:26px;
}

.hero p{
    font-size:16px;
}

.btn{
    width:100%;
}

}